.speech {
    font-family: Arial, sans-serif;
    font-size: 16px; 
    color: black;
}

/* For non-spoken directions */
.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
}

/* Hover effect on directions */
.direction:hover {
    background-color: lightblue;
    color: white; 
}

/* Character-specific styles */
.Billing {
    color: blue;
}

.Hovstad {
    color: green;
}

.Stockmann {
    color: red; 
}

.Aslaksen {
    color: yellowgreen; 
}

/* Style for the character table */
.character-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.character-table th, .character-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.character-table th {
    background-color: #f2f2f2;
}

.character-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.character-table tbody tr:hover {
    background-color: #e0e0e0;
}

/* Add shadow and border on name hover */
.name:hover {
    box-shadow: 5px 5px 10px #888888;
    border: 1px solid #ccc;
}

ul.horizontal-navbar{
    width:100 px;
    background-color:beige;
}
    
ul.horizontal-navbar li {
        display: inline;
        margin-right: 30px;
}
    
ul.horizontal-navbar a {
        display: inline;
        text-decoration: none; 
        color:black;
        font-weight: bold;
}
    
ul.horizontal-navbar a:hover {
        color: #FF5733;
}